.wrapper {
    width: 100%;
    height: var(--default-layout-header-style);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.logo {
}

.actions {
    display: flex;
    align-items: center;
}

.action {
    display: flex;
    align-items: center;
}
.action-btn {
    --action-btn-color: #161823;
    background-color: transparent;
    font-size: 20px;
    color: var(--action-btn-color);
    padding: 4px 12px;
    cursor: pointer;
}
.more-btn {
    font-size: 20px;
    margin-left: 24px;
    background-color: transparent;
    padding: 6px;

    &:hover {
        cursor: pointer;
    }
}

.user-avt {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-left: 16px;
}
