@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

:root {
}

html {
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 600;
  font-style: normal;
}
