* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(255, 44, 85, 1);
    --default-layout-header-style: 60px;
    --default-layout-width: 1150px;
    --hover-color: rgba(22, 24, 35, 0.03);
    --tippy-box-background: rgba(84, 84, 84, 0.92);
}

html {
}

body {
    font-family: 'ProximaNova', sans-serif;
    font-weight: 600;
    font-style: normal;
}

//fonts
@font-face {
    font-family: ProximaNova;
    src: url('../assets/fonts/TikTokDisplayFont-Bold.woff2');
}

button,
input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    .tippy-box {
        background-color: var(--tippy-box-background);
        border-radius: 8px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;
        height: 30px;
        display: flex;
        align-items: center;
    }
}
