@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-layout-header-style: 60px;
  --default-layout-width: 1150px;
}

html {
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 600;
  font-style: normal;
}
